
/.idea
/WpfApp1
/backend/bin
/backend/obj
/battleship-api/obj
/Shared/bin
/backend/.idea
/battleship-api/.idea
/battleship-api/bin
/battleship-api/bin
/battleship-api/bin/Debug/net8.0
/battleship-api/obj
